In [20]:
name_l = ["Jason", "Sally", "Amanda"]
del name_l[-1]
print(name_l)

['Jason', 'Sally']

In [21]:
name_l.append("Biff")
print(name_l)

['Jason', 'Sally', 'Biff']

In [22]:
name_l.insert(0, "Chip")
print(name_l)

['Chip', 'Jason', 'Sally', 'Biff']

In [23]:
more_names = ["Kipper", "Floppy"]
name_l.extend(more_names)
print(name_l)

['Chip', 'Jason', 'Sally', 'Biff', 'Kipper', 'Floppy']

In [24]:
name_l.remove("Floppy")
print(name_l)

['Chip', 'Jason', 'Sally', 'Biff', 'Kipper']

In [25]:
name_l.pop(1)
print(name_l)

['Chip', 'Sally', 'Biff', 'Kipper']

In [26]:
print(name_l)
print(name_l.index('Kipper'))

['Chip', 'Sally', 'Biff', 'Kipper']
3

In [27]:
name_l2 = name_l.copy()
print(name_l2)

['Chip', 'Sally', 'Biff', 'Kipper']

In [28]:
print(name_l)

name_l.sort()
print(name_l)

name_l.reverse()
print(name_l)

['Chip', 'Sally', 'Biff', 'Kipper']
['Biff', 'Chip', 'Kipper', 'Sally']
['Sally', 'Kipper', 'Chip', 'Biff']

In [29]:
name_l.extend(["Kipper", "Kipper"])
print(name_l.count("Kipper"))

3

In [30]:
print(name_l)
name_l.clear()
print(name_l)

['Sally', 'Kipper', 'Chip', 'Biff', 'Kipper', 'Kipper']
[]

In [31]:
name = "Jason"
name_letter = []

for letter in name:
    name_letter.append(letter)

print(name_letter)

['J', 'a', 's', 'o', 'n']

In [32]:
name_letter_l = [letter for letter in name]
print(name_letter_l)

['J', 'a', 's', 'o', 'n']

In [33]:
name_l = ["Jason", "Sally", "Amanda"]
print([name for name in name_l if name != "Jason"])

['Sally', 'Amanda']

In [34]:
print([x**2 for x in range(10) if x % 2 == 0])

[0, 4, 16, 36, 64]

In [35]:
my_list = []

for x in [20, 40, 60]:
    for y in [2, 4, 6]:
        my_list.append(x * y)

print(my_list)

[40, 80, 120, 80, 160, 240, 120, 240, 360]

In [38]:
my_list = [x * y for x in [20, 40, 60] for y in [2, 4, 6]]
print(my_list)

[40, 80, 120, 80, 160, 240, 120, 240, 360]

In [1]:
number_list = []

for num in range(100):
    if num % 3 == 0:
        if num % 5 == 0:
            number_list.append(num)

print(number_list)

[0, 15, 30, 45, 60, 75, 90]

In [2]:
print([num for num in range(100) if num % 3 == 0 if num % 5 == 0])

[0, 15, 30, 45, 60, 75, 90]