In [9]:
str = "hi"
print(str*3)

hihihi

In [10]:
str = "Hello,"
str += "world!"
print(str)

Hello,world!

In [7]:
print('-' * 10)
str = """
Hello,
world!"""
print(str)

print('-' * 10)
str = """\
Hello,
world!
I am Jason.\
"""
print(str)

----------

Hello,
world!
----------
Hello,
world!
I am Jason.

In [12]:
# raw strings
str = r"How're you?\nI'm fine."
print(str)

How're you?\nI'm fine.

In [27]:
str = "Hello, World!"
print(str.upper())
print(str.lower())
print(str.isupper())
print(str.islower())
print(str.istitle())
print(" ".join(str))
print("".join(reversed(str)))

HELLO, WORLD!
hello, world!
False
False
True
H e l l o ,   W o r l d !
!dlroW ,olleH

In [21]:
str = "abcde"
print(len(str))

5

In [35]:
member_list = ["Jason", "Sally", "Amanda"]
member_str = ",".join(member)
print(member_str)
print(member_str.split(","))
print(member_str.replace("Jason", "jason"))

Jason,Sally,Amanda
['Jason', 'Sally', 'Amanda']
jason,Sally,Amanda

In [51]:
str = "Hello, world!"
print(str[0], str[-1])
print(str[:5])
print(str[7:])
print(str[7:12])
print(str[-6:-1])
print(str[::1])
print(str[::2])
print(str[::-1])
print(str.count('o'))
print(str.find('w'))

H !
Hello
world!
world
world
Hello, world!
Hlo ol!
!dlrow ,olleH
2
7

In [3]:
print('Sammy says, "Hello!"')
print("Sammy says, \"Hello!\"")

Sammy says, "Hello!"
Sammy says, "Hello!"

In [9]:
print("1.\tJason\n2.\tSally\n3.\tAmanda")

1.	Jason
2.	Sally
3.	Amanda

In [13]:
str = "Jason loves {} and {}."
print(str.format("Sally", "Amanda"))

str = "Jason loves {1} and {0}."
print(str.format("Sally", "Amanda"))

str = "Jason loves {wife} and {daughter}."
print(str.format(wife="Sally", daughter="Amanda"))

Jason loves Sally and Amanda.
Jason loves Amanda and Sally.
Jason loves Sally and Amanda.

In [40]:
import math
print(math.pi)
print("The value of pi is {:.0f}.".format(math.pi))
print("The value of pi is {:.2f}.".format(math.pi))

3.141592653589793
The value of pi is 3.
The value of pi is 3.14.

In [25]:
print('-'*5)
print('{:<5}'.format(1))
print('{:^5}'.format(1))
print('{:>5}'.format(1))
print('{:*<5}'.format(1))
print('{:*^5}'.format(1))
print('{:*>5}'.format(1))

-----
1
  1
    1
1****
**1**
****1

In [29]:
for i in range(3,13):
    print("{:6d} {:6d} {:6d}".format(i, i*i, i*i*i))

     3      9     27
     4     16     64
     5     25    125
     6     36    216
     7     49    343
     8     64    512
     9     81    729
    10    100   1000
    11    121   1331
    12    144   1728

In [38]:
print('-'*10, '-'*10)
print("{0:<10} {1:>10}".format("Jason", "Sally"))

---------- ----------
Jason           Sally