In [25]:
def pt(t):
    print(t, type(t))

In [26]:
t = ()
pt(t)

() <class 'tuple'>

In [27]:
t = tuple()
pt(t)

() <class 'tuple'>

In [28]:
t = 1, 2, 3
pt(t)

(1, 2, 3) <class 'tuple'>

In [29]:
t = (1, 2, 3)
pt(t)

(1, 2, 3) <class 'tuple'>

In [30]:
t = (1)
pt(t)

1 <class 'int'>

In [31]:
t = (1,)
pt(t)

(1,) <class 'tuple'>

In [32]:
names = ("Jason", "Sally", "Amanda")
print(names)
print(names[0])
print(names[-1])
print(names[:2])
print(names[1:])

('Jason', 'Sally', 'Amanda')
Jason
Amanda
('Jason', 'Sally')
('Sally', 'Amanda')

In [33]:
names2 = ("Chip", "Biff", "Kipper")
print(names + names2)
print(names2 * 2)
print(len(names2))

('Jason', 'Sally', 'Amanda', 'Chip', 'Biff', 'Kipper')
('Chip', 'Biff', 'Kipper', 'Chip', 'Biff', 'Kipper')
3

In [34]:
numbers = tuple(range(10))
print(numbers)
print(max(numbers))
print(min(numbers))

(0, 1, 2, 3, 4, 5, 6, 7, 8, 9)
9
0

In [35]:
numbers_l = list(numbers)
print(numbers_l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]